h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500px;
    font-size: 85px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
#heading{
    width: 80%;
    height: 1350px;
    border: 10px;
    border: 2px solid black;
    background-color: beige;
    padding: 10px;
    flex-wrap: wrap;
}
#sub{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 4px 0 4px 0;
    text-align: center;
    background-color: aquamarine;
}
#top{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: auto;
   
}
.child{
    padding: 10px;
    margin: 10px;
}
#div1{
    width: 180px;
    height: 180px;
    background-color: rgba(168, 43, 226, 0.842);
    
}
#div2{
    width: 180px;
    height: 200px;
    background-color: rgba(168, 43, 226, 0.842);
}
#div3{
    width: 180px;
    height: 200px;
    background-color: rgba(168, 43, 226, 0.842);
}
#div4{
    width: 180px;
    height: 180px;
    background-color: rgba(168, 43, 226, 0.842);
}
#div5{
    width: 180px;
    height: 200px;
    background-color: rgba(168, 43, 226, 0.842);
}
#div6{
    width: 780px;
    height: 700px;
    position: relative;
    bottom: 1180px;
    left: 200px;
}
img{
    width: 180px;
}
p{
    font-size: large;
}
h2{
    font-weight: 200px;
    font-size: 55px;
}
#col1{
    width: 250px;
    height: 300px;
    position: relative;
    bottom: 1600px;
    left: 400px;
    padding: 20px;
    font-size: large;
}
#col2{
    width: 250px;
    height: 300px;
    position: relative;
    bottom: 1970px;
    left: 730px; 
    padding: 20px; 
    font-size: large;
}
#col3{
    width: 180px;
    height: 450px;
    position: relative;
    bottom: 1900px;
    left: 240px;
    padding: 20px;
}
#col4{
    width: 550px;
    height: 470px;
    position: relative;
    bottom: 2400px;
    left: 480px;
    padding: 20px;
}
h3{
    font-weight: 200px;
    font-size: 35px; 
    position: relative;
    bottom: 30px;
}
#col5{
    width: 350px;
    height: 250px;
    padding: 20px;
    position: relative;
    bottom:2850px;
    left: 650px;
}
